
    <div class="page-header">
      <h1>Leave Management System </h1>
          <div class="dropdown">
            <!-- <span class="caret pull-right">           
            </span> -->
            <span class="dropdown-toggle" aria-haspopup="true" aria-expanded="true" class="glyphicon glyphicon-user"id="dropdownMenu1" data-toggle="dropdown"></span>  
          
        
    
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
        
    
      
      